### 문자형(문자열)

In [7]:
my_name = "monkey"
your_name = ''
error_name = 'babo"'

In [8]:
print(my_name, your_name, error_name)

monkey  babo"

In [9]:
type(your_name)

str

### 문자형의 연산

In [16]:
str1 = "오늘의 점심 메뉴는?"
str2 = "포케"

print(str1 + str2)
# print(str1 - str2)
# print(str1 * str2)
print(str2 * 10)

오늘의 점심 메뉴는?포케
포케포케포케포케포케포케포케포케포케포케

---

### 포맷팅(f-string)

In [33]:
food = '고구마'
count = 1000

print(f'다람쥐는 겨울철 양식으로 {food} {count}개를 쿠팡했습니다.')
print('다람쥐는 겨울철 양식으로', food, count, '개를 쿠팡했습니다.')

다람쥐는 겨울철 양식으로 고구마 1000개를 쿠팡했습니다.
다람쥐는 겨울철 양식으로 고구마 1000 개를 쿠팡했습니다.

---

### **문제 1**

아래 조건에 맞게 변수를 선언하고 결과를 출력하세요.

1. `greeting_message` 변수에 문자열 `"Hello"`를 저장합니다.
2. `greeting_target` 변수에 `"World"`를 저장합니다.
3. 두 문자열을 이어 붙여 `"HelloWorld"`를 출력하세요.

In [35]:
greeting_message = "Hello"
greeting_target = "World"

print(greeting_message + greeting_target)

HelloWorld

### **문제 2**

1. `age`에 당신의 나이, `city`에 당신의 거주지를 저장합니다.
2. f-string을 사용하여 다음 문장과 같은 형태로 출력하세요.
    - `"나는 25살이고, Seoul에 살고 있습니다."`

In [41]:
age = 500
city = "seoul"
result = f'나는 {age}살이고, {city}에 살고 있습니다.'

print(f'나는 {age}살이고, {city}에 살고 있습니다.')
print(result)

나는 500살이고, seoul에 살고 있습니다.
나는 500살이고, seoul에 살고 있습니다.