### 딕셔너리

In [1]:
empt_dict = {}
my_dict = {
    'name': 'squirrel',
    'height': 190,
    'job': 'teacher',
    'bag': ['ipad', 'water', 'apple'],
    'happy': True
}

In [2]:
type(empt_dict)

dict

In [4]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'height', 'job', 'bag', 'happy'])
dict_values(['squirrel', 190, 'teacher', ['ipad', 'water', 'apple'], True])
dict_items([('name', 'squirrel'), ('height', 190), ('job', 'teacher'), ('bag', ['ipad', 'water', 'apple']), ('happy', True)])

In [5]:
my_dict['name']

'squirrel'

In [6]:
my_dict['name'] = '다람쥐'
my_dict

{'name': '다람쥐',
 'height': 190,
 'job': 'teacher',
 'bag': ['ipad', 'water', 'apple'],
 'happy': True}

In [8]:
my_dict['hobby'] = 'eat'
my_dict

{'name': '다람쥐',
 'height': 190,
 'job': 'teacher',
 'bag': ['ipad', 'water', 'apple'],
 'happy': True,
 'hobby': 'eat'}

In [9]:
del my_dict['happy']
my_dict

{'name': '다람쥐',
 'height': 190,
 'job': 'teacher',
 'bag': ['ipad', 'water', 'apple'],
 'hobby': 'eat'}

### **문제 4**

아래 조건을 만족하는 딕셔너리를 생성하세요.

1. `student`라는 이름의 딕셔너리를 선언하고 다음 키-값 쌍을 추가하세요:
    - `'name'`: `'John'`
    - `'age'`: `20`
    - `'major'`: `'Computer Science'`
2. `'age'`의 값을 출력하세요.

In [13]:
student = {
    'name': 'John',
    'age': 20,
    'major': 'Computer Science'
}

student['age']

20

### **문제 5**

아래 조건에 맞게 딕셔너리를 수정하세요.

1. `scores`라는 딕셔너리에 `'math': 80, 'english': 90`을 저장하세요.
2. `'math'`의 값을 `95`로 변경하고 딕셔너리를 출력하세요.

In [18]:
scores = {
    'math': 80,
    'english': 90
}

scores['math'] = 95
print(scores)

{'math': 95, 'english': 90}

### **문제 8**

다음 조건에 맞게 딕셔너리를 조작하세요.

1. `students` 딕셔너리에 `'student1': 85, 'student2': 90, 'student3': 95`를 저장하세요.
2. `pop()` 메서드를 사용해 `'student2'`의 값을 제거하고, 제거된 값을 출력하세요.

In [19]:
students = {
    'student1': 85,
    'student2': 90,
    'student3': 95
}

tmp = students.pop('student2')      #pop을 사용해 기본값 반환 또는 삭제 가능
print(students)
print(tmp)

{'student1': 85, 'student3': 95}
90